.Navigation {
  width: 100%;
}

.Navigation__ul {
  display: flex;
}

.Navigation__li {
  flex: 1;
}

.Navigation__navLink {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;

  font-size: 24px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-bottom: 4px solid transparent;
}

.Navigation__navLink.home {
  background-color: rgb(242, 139, 129);
}

.Navigation__navLink.queries {
  background-color: rgb(253, 214, 99);
}

.Navigation__navLink.mutations {
  background-color: rgb(138, 180, 248);
}

.Navigation__navLink.queries-invalidation {
  background-color: rgb(129, 201, 149);
}

.Navigation__navLink.queries.activated {
  border-color: rgb(193, 160, 44);
}

.Navigation__navLink.mutations.activated {
  border-color: rgb(81, 128, 191);
}

.Navigation__navLink.queries-invalidation.activated {
  border-color: rgb(76, 147, 98);
}

.Navigation__navLink:hover {
  opacity: 0.8;
}
