.Queries {
  padding: 10%;
}

.Queries__top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.ComponentA {
  width: 60%;
  min-height: 300px;
}

.ComponentB {
  flex: 1;
  min-height: 300px;
}

.ComponentC {
  min-height: 100px;
}

.ComponentA,
.ComponentB,
.ComponentC {
  padding: 24px;
  border-radius: 16px;
  background-color: rgb(242, 243, 247);
}

.ComponentA__title,
.ComponentB__title,
.ComponentC__title {
  font-size: 24px;
  font-weight: 700;
}

.ComponentA__content,
.ComponentB__content,
.ComponentC__content {
  font-size: 20px;
}
